<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu de Ponto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/operacoes/tela-inicial.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/admin-menu.css}">
</head>
<body>
	<div th:if="${acessoAdmin}">
        <div th:insert="~{admin/_menu-administrativo :: menuAdmin}"></div>
    </div>

    <div class="container">
    <div id="confirmacao" th:if="${mensagem != null}" th:text="${mensagem}" th:style="'color: ' + (${mensagem.contains('sucesso') ? 'green' : 'red'})"></div>
        <h1>Menu de Ponto</h1>
        <p th:text="${'CPF: ' + cpf}"></p>

        <div class="options">
            <button onclick="window.location.href='/registrar-ponto'">Registrar Ponto</button>
            <button onclick="window.location.href='/historico-ponto'">Ver Histórico</button>
            <button onclick="window.location.href='/justificar-ponto'">Justificar Ponto</button>
            <button onclick="window.location.href='/configuracoes'">-- Configurações --</button>
            <button onclick="window.location.href='/sair'">Sair</button>
        </div>
    </div>
    <script th:src="@{/js/tela-inicial.js}"></script>
</body>
</html>