@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 40%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.history-button {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #6c757d; /* Cor cinza */
    color: white;
    border-radius: 4px;
    font-size: 1em;
}

.history-button:hover {
    background-color: #5a6268;
}