<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Colaborador</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro-colaborador.css}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Colaborador</h1>
        <div class="success-message" th:if="${mensagem}">
            <p th:text="${mensagem}"></p>
            <p><a th:href="@{/colaboradores/cadastro}">Cadastrar outro colaborador</a></p>
            <p><a th:href="@{/menu-ponto}">Voltar ao Menu</a></p>
        </div>
    </div>
</body>
</html>